.header{
    background-color: coral;
}
.right{
    margin-bottom: 5px;
}
.title{
    font-size: 25px;
    font-weight: bold;
}
.tab{
    font-size: 20px;
    padding: 10px 15px;
    cursor:pointer;
    border-bottom: 5px solid transparent;
}
.tab.active{
    color:darkslateblue;
    border-bottom: 5px solid darkslateblue;
}
.copyright{
    font-size: 10px;
}
.seperator{
    height:2px;
    background:goldenrod;
}